extends layout

block content
  h1= title
  p Suggestion module is a Node Express demonstration project which exercises some basic functionality, including the following
  ul
    li Built on Node, Express, Bootstrap.
    li Deployed on Heroku Free Tier (expect a 10 second delay on first use)
    li Module includes front end and administrator functions
    li Front end includes user form submit, client side validation, and message acknowledgement.
    li Back end includes administrator review of submissions and editing.