extends layout

block content
	body
		header.main-header#splash
			h1.header-text UCLA Health Systems
				//- img.arrow(src="../public/image/arrow.svg", alt="Down arrow")

		.nav-row
			.about-content#about
				p Suggestion module is a Node Express demonstration project which exercises some basic functionality, including the following
						ul
							li Built on Node, Express, Bootstrap.
							li Deployed on Heroku Free Tier (expect a 10 second delay on first use)
							li Module includes front end and administrator functions
							li Front end includes user form submit, client side validation, and message acknowledgement.
							li Back end includes administrator review of submissions and editing.

		
		.submit-content#submit
				form.proposal-form.br(name="adduser",method="post",action="/adduser")
					h1 New Project Submittal
					label(for="postname") Name:
					input(type="text", size="60", name="postname" required)
					p
					label(for="postemail") Email:
					input(type="text", size="60", name="postemail" required)
					p
					label(for="postphone") Phone Number:
					input(type="text", size="60", name="postphone" required)
					p
					label(for="postorg") Organization:
					input(type="text", size="60", name="postorg")
					p
					label(for="postcontent") Proposal:
					textarea.form-control(type="text", name="postcontent", rows="7" required)
					p
					button.btn(type="submit") Submit

		footer
			.nav-row
				.grid-full
					p Connect With Us
					ul.social
						li
							a(href="#", class="pink")
							a(href="#", class="pink")
							a(href="#", class="pink")

