doctype html
html
	head
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="//code.jquery.com/jquery-1.11.3.min.js")
		script(src="/javascripts/jquery.cookie.js")
		script(src="/javascripts/jquery.sticky.js")

		body
			.menu
				a.menu-btn(href='/#splash') Home
				=" "
				a.menu-btn(href='/#submit') Submit Message
				=" "
				a.menu-btn(href='/#about') About
				=" "
				a#loggedIn.menu-btn(href='/login') Login
				=" "
				a#loggedOut.menu-btn(href='/logout') Logout
				=" "
				a#admin.menu-btn(href='/userlist') Admin Editing
				
		script.
			//- If else statement used for checking if a cookie is enabled and hide/show the navbar
			console.log( $.cookie().datecookie );
			if ($.cookie().datecookie != null) {
				$('#admin').show();
				}
			else {
				$('#admin').hide()
				};

			if ($.cookie().datecookie != null) {
				$('#loggedIn').hide();
				}
			else {
				$('#loggedOut').hide();
				}

	block content


