doctype html
html
	head
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="//code.jquery.com/jquery-1.11.3.min.js")
		script(src="/javascripts/jquery.cookie.js")
		script(src="/javascripts/jquery.sticky.js")

		body
			.nav-row
				header.nav-row.sticky-nav#sticky
					.grid-left
						a.desc(href="/#splash") UCLA HEALTH SYSTEMS
					.grid-right
						nav
							a(href='/#about') About
							=" "
							a(href='/#submit') Submit Proposal
							=" "
							a#loggedIn(href='/login') Login
							=" "
							a#loggedOut(href='/logout') Logout
							=" "
							a#admin(href='/userlist') Proposal List
							
		script.
			//- If else statement used for checking if a cookie is enabled and hide/show the navbar
			$(document).ready(function(){
				$('#sticky').sticky({
					  getWidthFrom: '.nav-row',
					  responsiveWidth: true,
					  topSpacing: 0
					});

				
				
				console.log( $.cookie().datecookie );
				if ($.cookie().datecookie != null) {
					$('#admin').show();
					}
				else {
					$('#admin').hide()
					};

				if ($.cookie().datecookie != null) {
					$('#loggedIn').hide();
					}
				else {
					$('#loggedOut').hide();
					}
			})



	block content


