extends layout

block content
		.login
			form.br.login-form(name="login",method="post",action="/verify")
				h1.sub Admin Signin
				input(type="text", placeholder="Admin Username", size="40", name="username" required)
				p
				input(type="text", placeholder="Password", size="40", name="password" required)
				p
				button.btn(type="submit") Login