<!DOCTYPE html> 

<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >	
</head>

<body ng-app='app'>

<form name="adduser" method="post" action="/adduser">
	<h1> New Project Submittal </h1>
	<div class="row">
      <div class="col-md-6">
			
			<input ng-model="postname" type="text" placeholder="Your Name" size="60" name="postname" required/>
			<p></p>
			<input ng-model="postemail" type="text" placeholder="Your Email" size="60" name="postemail" required/>
			<p></p>
			<input ng-model="postphone" type="text" placeholder="Your Phone Number" size="60" name="postphone" required>
			<p></p>
			<input ng-model="postorg" type="text" placeholder="Organization" size="60" name="postorg">
			<p></p>
			<textarea ng-model="postcontent" class="form-control" type="text" placeholder="Your Proposal" name="postcontent" rows="10" required>
			</textarea>
		</div>

      <div class="col-md-6">

        <p>Your Name: {{ postname }}</p>
        <p>Your emial: {{postemail}}</p>
        <p>Your Phone Number: {{postphone}}</p>
        <p>Your Company: {{postorg}}</p>
        <p>Your Proposal: {{postcontent}}</p>
      </div>
  	</div>
	<button class="btn btn-primary btn-large" type="submit"> Submit your project
	</button>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script type="text/javascript">
var app = angular.module('app', []);

</script>

</body>
</html>