/*web fonts*/
@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
   }

/* Base Styles -------------------- */

body {
  color: #B1B9C1;
  font-size: 1em;
  font-weight: 200;
  font-family: 'Roboto', Helvetica, Arial, serif;
  width: 100%;
  text-align: center;
}

a {
  color: #5FB6E1;
  text-decoration: none;
}

a:hover {
  color: #53A4C4;
  text-decoration: none;
}

p {
  margin-bottom: 40px;
}
h1, h2 {
  font-weight: 400;
  width: 100%;
}

h2 {
  font-size: 42px;
  color: #465058;
  margin: 40px 0 0;
}
h3 {
  font-weight: 400;
  font-size: 24px;
  margin: 40px 0 0;
  color: #465058;
}
h4 {
  font-weight: 200;
  font-size: 24px;
  margin: 10px 0 0;
}
h5 {
  font-weight: 300;
  font-size: 20px;
  margin: 10px 0 40px;
}
img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul{
  margin: 30px 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

/* Main Styles ******************************--------------------- */

/*NAV-BAR STYLES*/
.nav-row{
  max-width: 1480px;
  margin: 0 auto;
  padding: 0;
}

.grid-left {
  width: 30%;
  float: left;
}
.grid-right {
  width: 70%;
  float: left;
}

.desc{
  line-height: 60px;
  width: 100%;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  display: block;
}

a.desc:hover {
  text-decoration: none;
}

nav{
  float: right;
}

nav a {
  transition: .35s linear;
  padding: 0 15px;
  font-weight: 500;
  line-height: 60px;
  color: #B1B9C1;
  text-align: right;
}
nav a:last-child {
  padding-right: 35px;
}
nav a:hover {
  color: #333;
  text-decoration: none;
}

/*STICKY NAV STYLES**************/
.sticky-nav {
  transition: 1.5s;
}

.is-sticky .sticky-nav {
  background-color: #fff;
  opacity: 0.4;
  z-index: 1000;
}


/*COVER PICTURE*/

.main-header {
  padding-top: 110px;
  float: top;
  height: 850px;
  margin: 0 auto;
  background: url('/images/UCLA.jpg') no-repeat center;
  background-size: cover;
}

.header-text{
	color: white;
  	font-size: 5.625rem; /* 26px/16px */
  	letter-spacing: .065em;
  	font-weight: 200;
  	border-bottom: 2px solid;
  	padding-bottom: 10px;
  	text-align: center;
}



.formdiv{
	padding: 60px;
}

.mybox {
    width:500px;
    padding: 10px;
    background-color: #666666;
    margin-bottom: 20px;
}

.textstyle{
  width: 500px;
}

.about-content {
  height: 1080px;
  background-color: #f4f4f4;
}

.submit-content {
  height: 1080px;
  background-color: #f4f4f4;
}


/*STICKY NAV STYLES*/

