extends layout

block content
	form(name="update",method="post",action="/update")
		input(type="text", placeholder="id", name="id", size= 40, value="#{post[0]._id}")
		input(type="text", placeholder="postname", name="postname", value="#{post[0].postname}")
		input(type="text", placeholder="postcontent", name="postcontent", value="#{post[0].postcontent}")
		button(type="submit") submit

	p #{post[0].postname}