extends layout

block content
	body
		//- add sticky nav bar with dropdown for the sumbittal page
		header.main-header
			h1.header-text UCLA Health Systems
			//- img.arrow(src="../public/image/arrow.svg", alt="Down arrow")

		.primary-content.t-boarder
			//- about section with a couple work examples and info about the company
			





