doctype html
html
	head
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="//code.jquery.com/jquery-1.11.3.min.js")
		body
			.menu
				a.menu-btn(href='/') Home
				=" "
				a.menu-btn(href='/newuser') Submit Message
				=" "
				a.menu-btn(href='/about') About
				=" "
				a.menu-btn(href='/userlist') Admin Editing
				=" "
				a.menu-btn(href='/login') Login
	block content