extends layout

block content
	.formdiv
		form(name="adduser",method="post",action="/adduser")
			h1 New Project Submittal
			input(type="text", placeholder="Your Name", size="60", name="postname" required)
			p
			input(type="text", placeholder="Your Email", size="60", name="postemail" required)
			p
			input(type="text", placeholder="Your Phone Number", size="60", name="postphone" required)
			p
			input(type="text", placeholder="Organization", size="60", name="postorg")
			p
			textarea.form-control(type="text", placeholder="Your Proposal", name="postcontent", rows="8" required)
			p
			button.btn-primary(type="submit") Submit your project